useDynLib(binaryMM, DeconvolveGH_CALL, LogLScoreCalc_CALL)
import(stats, fastGHQuad, MASS, Rcpp)
export(mm, MMLongit, GenBinaryY, get.GH)
S3method(summary, MMLong)
S3method(anova, MMLong)
S3method(print, summary.MMLong)
S3method(print, MMLong)
S3method(print, anova.MMLong)
S3method(coef, MMLong)
S3method(vcov, MMLong)
